<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings file="local.config">
    <add key="LogUploadUrl" value="http://server.example/logs/upload/submit" />
    <add key="SourceAddress" value="127.0.0.1" />
    <add key="BroadcastAddress" value="127.0.0.255" />
    <add key="DatabasePath" value="C:\CompressedLogs\client-qsodb.sqlite"/>
  </appSettings>
</configuration>