<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="ClubLogApiKey" value=""/>
    <add key="DatabasePath" value="C:\CompressedLogs\server-qsodb.sqlite"/>
    <add key="CL_User_FP/DH5FS" value=""/>
    <add key="CL_User_FP/DK2AB" value=""/>
    <add key="CL_User_FP/G3ZAY" value=""/>
    <add key="CL_User_FP/G7VJR" value=""/>
    <add key="CL_User_FP/M0BLF" value=""/>
    <add key="CL_User_FP/M0WUT" value=""/>
    <add key="CL_User_FP/M0ZXA" value=""/>
    <add key="CL_Password_FP/DH5FS" value=""/>
    <add key="CL_Password_FP/DK2AB" value=""/>
    <add key="CL_Password_FP/G3ZAY" value=""/>
    <add key="CL_Password_FP/G7VJR" value=""/>
    <add key="CL_Password_FP/M0BLF" value=""/>
    <add key="CL_Password_FP/M0WUT" value=""/>
    <add key="CL_Password_FP/M0ZXA" value=""/>
  </appSettings>
</configuration>